<div class="page-header">
  <h1><%= @site.name %></h1>

</div>
<table>
  <thead>
  <tr>
    <th>Тип</th>
    <th>Сообщение</th>
    <th>Позиция</th>
    <th>Цена</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log.log_type %></td>
        <% if !log.message.nil? %>
            <%- message = log.message.gsub(/[\[\]\"]/, "").split(', ') %>
            <td><%= link_to message[0], message[1] %></td>
        <% end %>
        <td><%= log.name_found %></td>
        <td><%= log.price_found %></td>
      </tr>
  <% end %>
  </tbody>
</table>

Поисковые ссылки:
<% if !@site.search_url.nil? %>
    <p><% @site.search_url.split(',').each do |search_url|%>
        <p><%= link_to search_url, search_url %></p>
    <% end %>
    </p>
<% end %>