<% standard_price = url.item.get_standard_price  %>
<% if !standard_price.nil? %>
    <tr>
      <td><%= url.item.get_group_name %></td>
      <td><%= url.item.get_name %></td>
      <td style="white-space: nowrap; text-align: right"><%= link_to spaces(url.price), url.url, target: '_blank' %></td>
      <td style="white-space: nowrap; text-align: right"><%= spaces(standard_price) %></td>
      <td style="white-space: nowrap; text-align: right"><%= spaces(standard_price - url.price) %></td>
      <td style="white-space: nowrap; text-align: right"><%= '%.1f' % ((standard_price/url.price - 1)*100) %>
        %
      </td>
    </tr>
<% end %>