<%- model_class = Url -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>

<p>
<%= link_to t('.update_prices', :default => t('helpers.links.update_prices')),
            update_prices_urls_path, :class => 'btn btn-primary' %>
<%= link_to t('.update_violators', :default => t('helpers.links.update_violators')),
            update_violators_urls_path, :class => 'btn btn-primary' %>
<%= link_to t('.find_urls', :default => t('helpers.links.find_urls')),
			            find_urls_urls_path, :class => 'btn btn-primary' %>
			
</p>

<p><%= will_paginate @urls %></p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:site_id) %></th>
      <th><%= model_class.human_attribute_name(:item_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
      <tr  <%= (url.url.nil? || url.price.nil? || url.url.scan(url.site.name).empty? || url.price.zero? )? " class=\"error\"".html_safe : '' %>>
        <td> <%= url.id %></td>
        <td><%= link_to url.url, url.url, target: '_blank' %></td>
        <td style="white-space: nowrap; text-align: right"> <%= spaces(url.price) %></td>
        <td><%= url.site.name %></td>
        <td><%= url.item.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @urls %>

