<%- model_class = Group -%>

<% @groups.each do |group| %>

    <table class="table table-condensed">
      <th>Site</th>
      <% group.items.each do |item| %>
          <th>
            <%= item.name %>
          </th>
      <% end %>

      <% @sites.each do |site| %>
          <tr <%= (site.name=="ydachnik.by") ? " class=\"success\"".html_safe : "" %>>
            <td><%= site.name %></td>
            <% group.items.each do |item| %>
                <td style="white-space: nowrap; text-align: right">
                  <% if !item.sites.where(:id => site.id).empty? %>
                      <%- url = item.urls.find_by(site_id: site.id) %>
                      <%= link_to spaces(url.price), url.url  %>
                  <% else %>
                      -
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>

    </table>
<% end %>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>
