<%- model_class = Group -%>
<% if !current_user.settings.nil? && !current_user.settings.last_updated.nil? %>
    <div class="muted"><%= t "tips.prices_updated" %> <%= time_ago_in_words(current_user.settings.last_updated) %> <%= t "tips.ago" %></div>
<% end %>


<%- group = @group %>

    <table class="table table-condensed">
      <th style="vertical-align:bottom"> <%= t "groups.index.site" %> </th>
      <% group.items.order("id DESC").each do |item| %>
          <th>
            <%= item.name %>
          </th>
      <% end %>

      <% @sites.each do |site| %>
          <tr <%= (site.standard?) ? " class=\"success\"".html_safe : "" %>>
            <td class="tooltip_cell" data-toggle="tooltip" data-placement="top" title="<%= site.company_name %>" ><%= site.name %></td>
            <% group.items.order("id DESC").each do |item| %>
                <td style="white-space: nowrap; text-align: right">
                  <% if !item.sites.where(:id => site.id).empty? %>
                      <%- url = item.urls.find_by(site_id: site.id) %>
                      <%- link_class = (!url.violator?) ? "muted" : "text-error"  %>
                      <%= link_to spaces(url.price), url.url, class: link_class, target: "_blank"  %>
                  <% else %>
                      -
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>

    </table>
