<%- model_class = Group -%>

<%- group = @group %>

<h1><%= group.name %></h1>


<table class="table table-condensed">
  <th style="vertical-align:bottom"> <%= t 'groups.index.site' %> </th>
  <% group.items.order(:name).each do |item| %>
      <th>
        <%= item.name %>
      </th>
  <% end %>

  <% @group.sites.order(:name).each_with_index do |site, site_index| %>
      <tr <%= (site.standard?) ? " class=\"success\"".html_safe : '' %>>
        <td><%= site.name %></td>
        <% @group.items.each_index do |item_index| %>
            <%- url = @table[site_index][item_index] %>
            <%- link_class = (url.nil? || !url.violator?) ? 'muted' : 'text-error' %>
            <td style="white-space: nowrap; text-align: right">
              <%= url.nil? ? '-' : link_to(spaces(url.price), url.url, class: link_class, target: '_blank') %>
            </td>
        <% end %>
      </tr>
  <% end %>

</table>
