<h1><%= @group.name %></h1>


<table class="table table-condensed">
  <th style="vertical-align:bottom"> <%= t 'groups.index.site' %> </th>
  <% @items.each do |item| %>
      <th>
        <%= item.name %>
      </th>
  <% end %>

  <% @sites.each do |site| %>
      <tr class=<%= 'success' if site.standard? %> >
        <td id="site<%= site.id %>"><%= site.name %></td>
        <%= render 'groups/row', {site: site} %>
      </tr>
  <% end %>

</table>
