<%- model_class = Group -%>
<% if !current_user.settings.nil? && !current_user.settings.last_updated.nil? %>
    <div class="muted"><%= t "tips.prices_updated" %> <%= time_ago_in_words(current_user.settings.last_updated) %> <%= t "tips.ago" %></div>
<% end %>

<%- group = @group %>
<h1><%= group.name %></h1>


<table class="table table-condensed">
  <th style="vertical-align:bottom"> <%= t "groups.index.site" %> </th>
  <% group.items.order("id DESC").each do |item| %>
      <th>
        <%= item.name %>
      </th>
  <% end %>

  <% group.sites.each do |site| %>
      <tr <%= (site.standard?) ? " class=\"success\"".html_safe : "" %>>
        <td class="tooltip_cell" data-toggle="tooltip" data-placement="top" title="<%= site.company_name %>"><%= site.name %></td>
        <% group.items.order("id DESC").each do |item| %>
            <td style="white-space: nowrap; text-align: right">
              <% url = (item.urls & site.urls).first %>
              <% if !url.nil? && !url.url.nil? && !url.price.nil? && (url.price > 0)%>
                  <%= link_to spaces(url.price), url.url, target: "_blank" %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>

</table>
