<h1><%= @group.name %></h1>


<table class="table table-condensed">
  <th style="vertical-align:bottom"> <%= t 'groups.index.site' %> </th>
  <% @items.each do |item| %>
      <th>
        <%= item.name %>
      </th>
  <% end %>

  <% @sites.each_with_index do |site, site_index| %>
      <tr <%= (site.standard?) ? " class=\"success\"".html_safe : '' %>>
        <td><%= site.name %></td>
        <%= render 'groups/row', {site_index: site_index} %>
      </tr>
  <% end %>

</table>
