<%= form_for @setting, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :ban_time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ban_time, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :allowed_error, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :allowed_error, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :rate, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :rate, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Сохранить настройки', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                  settings_path, :class => 'btn' %>
    </div>
<% end %>
