<%- model_class = Site -%>
<div class="page-header">
  <h2><%= current_user.username %></h2>
</div>

<table class="table table-striped">
  <thead>
  <% (0..@header.size).each do |i| %>
      <th><%= @header[i] %></th>
  <% end %>
  </thead>
  <tbody>
  <% @sites.each do |site| %>
      <tr>
        <% (0..site.size).each do |i| %>
            <td><%= site[i] %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Импорт', all_settings_path, :class => 'btn btn-primary' %>
<%= link_to 'Назад', settings_path, :class => 'btn' %>


