<%- model_class = Site -%>
<div class="page-header">
  <h2><%= current_user.username %></h2>
</div>

<table class="table table-striped">
  <thead>
  <th>Группа</th>
  <th>Название</th>
  <th>Цена</th>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
        <td><%= spaces(item[2]) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Импорт', import_standard_prices_settings_path, :class => 'btn btn-primary' %>
<%= link_to 'Назад', settings_path, :class => 'btn' %>


