<h2>Вход в систему</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label 'Пользователь' %>
      <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label 'Пароль' %>
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> Запомнить меня</div>
    <% end -%>
    <p></p>
    <div><%= f.submit 'Вход' %></div>

<% end %>

<%= render 'devise/shared/links' %>
