<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:price_found) %></th>
      <th><%= model_class.human_attribute_name(:css) %></th>
      <th><%= model_class.human_attribute_name(:name_found) %></th>
      <th><%= model_class.human_attribute_name(:css_name) %></th>
      <th><%= model_class.human_attribute_name(:log_type) %></th>

      <th><%= model_class.human_attribute_name(:item) %></th>
      <th><%= model_class.human_attribute_name(:site) %></th>

      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= link_to log.price_found, log.url.url, target: "_blank" %></td>
        <td><%= log.url.site.css %></td>
        <td><%= log.name_found %></td>
        <td><%= log.url.site.css_name %></td>
        <td><%= log.log_type %></td>
        <td><%= log.url.item.name %></td>
        <td><%= log.url.site.name %></td>

        <td><%= log.created_at.to_formatted_s(:short) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_log_path(log), :class => 'btn btn-mini' %>
          <% if !log.ok %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          log_path(log),
                          :method => :delete,
                          :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Очистить лог", clear_log_logs_path, :class => 'btn' %>
