<div class="page-header">
  <h2><%= current_user.username %></h2>
</div>

<% if current_user.admin? %>
    <div class="row">
      <div class="span1 offset1">
        /<%= @sites[0] %>
      </div>
    </div>
    <div class="row">
      <div class="span12 offset2">
        <table>
          <thead>
          <strong>/all_sites.xlsx</strong>
          <% Site.first.attributes.keys[1..3].each do |key| %>
              <th><%= key %></th>
          <% end %>
          </thead>
          <tbody>
          <% @sites[1].each do |site| %>
              <tr>
                <% site.attributes.values[1..3].each do |value| %>
                    <td><%= value %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <% @folders.each do |user_folder| %>
        <div class="row">
          <div class="span1 offset1">
            /<%= user_folder[0] %>
          </div>
        </div>
        <% user_folder[1].each do |folder| %>
            <div class="row">
              <div class="span1 offset2">
                /<%= folder[0] %>
              </div>
            </div>
            <div class="row">
              <div class="span2 offset3">
                <table>
                  <thead>
                  <th>/items.xlsx</th>
                  </thead>
                  <tbody>
                  <% folder[1].each do |item| %>
                      <tr>
                        <td>
                          <%= item.name %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>

                </table>
              </div>
              <div class="span2 offset1">
                <table>
                  <thead>
                  <th>/sites.xlsx</th>
                  </thead>
                  <tbody>
                  <% folder[2].each do |site| %>
                      <tr>
                        <td>
                          <%= site.name %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>

                </table>
              </div>
              <div class="span1">
                <strong>/<%= folder[3] %></strong>
              </div>
            </div>

        <% end %>
    <% end %>

    <%= link_to 'Экспорт', export_sites_path, :class => 'btn btn-primary' %>

<% end %>
