<table class="table table-striped">
  <thead>
    <th>Сайт</th>
    <% @items.each do |item| %>
        <th style="text-align: right">
          <%= sortable(item.name, params[:item_search]) %>
          <% if params[:sort].present? && params[:sort] == item.name %>
              <%-arrow_class = 'icon-chevron-' %>
              <%-arrow_class += params[:direction]=='asc' ? 'down' : 'up' %>
              <i class=<%= arrow_class %>></i>
          <% else %>

          <% end %>

        </th>
    <% end %>
  </thead>
  <tbody>
  <% @item_sort.urls.order('urls.price ' + params[:direction]).each do |url| %>
      <tr <%= (url.site.standard?) ? " class=\"success\"".html_safe : ''%> >
        <td><%= link_to url.site.name, site_path(url.site) %></td>
        <% @items.each do |item| %>
            <td class="num">
              <%-next_url = get_url_str(item, url.site)  %>
              <%= next_url.nil? || next_url.price.nil? ? '-' : link_to(spaces(next_url.price), next_url.url) %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>