<%- model_class = Site -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @site.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_name) %>:</strong></dt>
  <dd> <%= @site.company_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd> <%= @site.email %></dd>
</dl>

<table class="table table-condensed">
  <th>Производитель</th>
  <th>Позиция</th>
  <th class="num">Цена сайта</th>
  <th class="num">Эталон</th>
  <th class="num">Разница, руб.</th>
  <th class="num">Разница, %</th>

  <% @urls.each do |url| %>
      <%= cache(url) do %>
          <tr class=<%= url.violator? ? 'error' : '' %>>
            <td><%= url.item.group.name %></td>
            <td><%= url.item.name %></td>
            <% if url.price > 0 %>
                <td class="num"> <%= link_to spaces(url.price), url.url %></td>
            <% else %>
                <td class="num"> <%= link_to 'n/a', url.url %></td>
            <% end %>
            <%- standard_price = url.item.get_standard_price %>
            <td class="num"><%= spaces(standard_price) %></td>
            <% if url.price > 0 && standard_price > 0 %>
                <td class="num"><%= spaces(standard_price - url.price) %></td>
                <td class="num"><%= '%.1f' % ((standard_price/url.price - 1)*100) %>
                %
                </td>
            <% else %>
                <td></td>
                <td></td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>

<div class="form-actions">
  <%= link_to 'Весь список',
              stop_list_sites_path, :class => 'btn' %>
  <%= link_to t('.update_prices', :default => t('helpers.links.update_prices')),
              update_prices_site_path(@site), :class => 'btn' %>
  <% if current_user.admin? %>
      <%= link_to 'Лог', logs_site_path(@site), :class => 'btn' %>
  <% end %>
</div>
