<%- model_class = Site -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @site.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_name) %>:</strong></dt>
  <dd> <%= @site.company_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd> <%= @site.email %></dd>
</dl>

<table class="table table-condensed">
  <th>Производитель</th>
  <th>Позиция</th>
  <th style="white-space: nowrap; text-align: right">Цена сайта</th>
  <th style="white-space: nowrap; text-align: right">Эталон</th>
  <th style="white-space: nowrap; text-align: right">Разница, руб.</th>
  <th style="white-space: nowrap; text-align: right">Разница, %</th>
  <% if current_user.admin? %>
      <th>Действия</th>
  <% end %>

  <% @urls.each do |url| %>
      <tr class=<%= url.violator? ? "error" : "" %>>
        <td><%= url.item.group.name %></td>
        <td><%= url.item.name %></td>
        <% if url.price > 0 %>
            <td style="white-space: nowrap; text-align: right"><%= link_to spaces(url.price), url.url %></td>
        <% else %>
            <td style="text-align: right"><%= link_to "n/a", url.url %></td>
        <% end %>
        <%- standard_site = url.item.group.sites.where(standard: true).first %>
        <%- standard_url = (standard_site.urls & url.item.urls).first %>
        <% if !standard_url.nil? && !standard_url.price.nil? && standard_url.price > 0 %>
            <td style="white-space: nowrap; text-align: right"><%= link_to spaces(standard_url.price), standard_url.url %></td>
            <% if url.price > 0 && standard_url.price > 0 %>
                <td style="white-space: nowrap; text-align: right"><%= spaces(standard_url.price - url.price) %></td>
                <td style="white-space: nowrap; text-align: right"><%= "%.1f" % ((standard_url.price/url.price - 1)*100) %>
                  %
                </td>
            <% else %>
                <td></td>
                <td></td>
            <% end %>
        <% else %>
            <td></td>
            <td></td>
            <td></td>
        <% end %>
        <% if current_user.admin? %>
            <td><%= link_to "Обновить", upd_url_path(url), target: "_blank", class: 'btn btn-mini' %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              stop_list_sites_path, :class => 'btn' %>
  <%= link_to t('.update_prices', :default => t("helpers.links.update_prices")),
              update_prices_urls_path(:site => @site), :class => 'btn' %>
</div>
