<div class="page-header">
  <h2>Стоп лист</h2>
</div>

<div class="accordion" id="accordion_site">

  <% @sites.each do |site| %>
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_site" href=<%= '#collapse' + site.id.to_s %>>
          <table class="table ">
            <th class="span3 btn"><%= site.name %></th>
            <th class="span3 btn"> <%= site.company_name %></th>
            <th class="span2 btn">Товаров -
              <%= site.urls.count %></th>
            <th class="span2 btn site<%= site.id.to_s %>"></th>
          </table>
        </a>

      </div>
      <div class="accordion-body collapse" id=<%= 'collapse' + site.id.to_s %>>
        <div class="accordion-inner">
          <%= cache(site) do %>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Бренд</th>
                  <th>Позиция</th>
                  <th class="num">Цена сайта</th>
                  <th class="num">Эталон</th>
                  <th class="num">Разница, руб.</th>
                  <th class="num">Разница, %</th>
                </tr>
                </thead>
                <tbody id=<%= 'tbody' + site.id.to_s %>>
                </tbody>
              </table>
              <%= render site %>
          <% end %>
        </div>
      </div>
  <% end %>

</div>
