<%- model_class = Site -%>
<div class="page-header">
  <h2>Стоп лист</h2>
</div>

<% @sites.each do |site| %>
    <%#= cache(site) do %>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td><%= site.company_name %></td>
        <td><%= link_to site.name, site_path(site), class: 'tdfade' %></td>
        <td>email: <%= site.email %></td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Бренд</th>
        <th>Позиция</th>
        <th style="white-space: nowrap; text-align: right">Цена сайта</th>
        <th style="white-space: nowrap; text-align: right">Эталон</th>
        <th style="white-space: nowrap; text-align: right">Разница, руб.</th>
        <th style="white-space: nowrap; text-align: right">Разница, %</th>
      </tr>
      </thead>
      <tbody>
      <% @groups.each do |group| %>
          <% find_violating_urls(site, group).each do |url| %>
              <% if !url.item.get_standard_url.nil? && !url.item.get_standard_price.nil? && url.item.get_standard_price > 0 %>
                  <tr>
                    <td><%= group.name %></td>
                    <td><%= url.item.name %></td>
                    <td style="white-space: nowrap; text-align: right"><%= link_to spaces(url.price), url.url, target: '_blank' %></td>
                    <td style="white-space: nowrap; text-align: right"><%= link_to spaces(url.item.get_standard_price), url.item.get_standard_url, target: '_blank' %></td>
                    <td style="white-space: nowrap; text-align: right"><%= spaces(url.item.get_standard_price - url.price) %></td>
                    <td style="white-space: nowrap; text-align: right"><%= '%.1f' % ((url.item.get_standard_price/url.price - 1)*100) %>
                      %
                    </td>
                  </tr>
              <% end %>
          <% end %>

      <% end %>

      </tbody>
    </table>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%# end %>
<% end %>